<div class="page" fxLayoutAlign="center">
	<div fxFlex="70%">
		<div class="content">
			<div fxLayout="row" fxLayoutAlign="space-between stretch">
				<h1>Liste des bateaux</h1>

				<button mat-raised-button color="accent" (click)="ouvrirDialogPourNouveauBateau()">Créer un
					bateau</button>
			</div>

			<div fxLayout="row wrap" fxLayoutAlign="space-between stretch">
				<mat-nav-list class="boat-list" *ngFor="let boat of boatList">
					<mat-card fxLayout="column">
						<mat-card-header>
							<mat-card-title>{{boat.nom}}</mat-card-title>
						</mat-card-header>
						<mat-card-content fxFlex>
						</mat-card-content>
						<mat-card-actions>
							<button mat-raised-button color="primary" routerLink="/boat/{{boat.id}}">
								Voir le détail
							</button>
						</mat-card-actions>
					</mat-card>
				</mat-nav-list>
			</div>
		</div>
	</div>
</div>